p {
  text-align: start;
  color: #fff;
  font-family: 'Karla', serif;
  font-size: 16px;
  border-radius: 1rem;
}

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem 10px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  column-gap: 6rem;
  overflow: hidden;
  row-gap: 5rem;
}

.img-avatar {
  width: 260px;
  height: 235px;
  border-radius: 0;
}

.about-item {
  text-align: start;
}

.about-item h6 {
 font-family: 'Markazi Text', serif;
  color: #000000 !important;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
}

.image-container {
  position: relative;
  width: 390px;
  height: 450px;
}

.lower-image, .upper-image {
  width: 330px;
  height: 291px;
}

.upper-image {
  position: absolute; 
  top: 160px; 
  left: -52px; 
  z-index: 1;
  opacity: 0.9;
}

.lower-image {
  position: absolute; 
  top: -10px; 
  left: 10px; 
  z-index: 1; 
}